<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Semantic.Chart" version="1.0.0.0" targetFramework="net452" />
  <package id="Semantic.ChartCommon" version="1.0.2.0" targetFramework="net452" />
  <package id="Semantic.WpfCommon" version="1.0.3.0" targetFramework="net452" />
  <package id="Semantic.WpfExtensions" version="1.0.4.0" targetFramework="net452" />
</packages>